<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:motan="http://api.weibo.com/schema/motan"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
 	http://api.weibo.com/schema/motan http://api.weibo.com/schema/motan.xsd">
	<!-- 引用athena的服务 -->
    <motan:basicReferer id="service_3_1_0" shareChannel="true" version="3.1.0" requestTimeout="3000"/>
    <motan:referer id="robotTaskFacadeImpl" interface="com.geekplus.athena.api.facade.RobotTaskFacade" directUrl="172.16.3.19:10000" basicReferer="service_3_1_0" />
	<motan:referer id="warehouseFacadeImpl" interface="com.geekplus.athena.api.facade.WarehouseFacade" directUrl="172.16.3.19:10000" basicReferer="service_3_1_0" />
</beans>